html,
body,
#root {
  background: #281010;
  margin: 0;
  font-family: Arial, sans-serif;
}

.App {
  height: 100%;
}

.container {
  display: flex;
  width: 100%;
  min-height: 100vh;
  /* Ensure the container takes at least the full viewport height */
  background: linear-gradient(to bottom, rgb(66, 7, 7), rgb(0, 0, 0));
  color: white;
}

.column {
  padding: 22px;
  box-sizing: border-box;
  flex: 1;
  /* Allow the columns to grow and shrink */
}

.column-1 {
  width: 20%;
  background-color: #0a0707;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* Space out the content within the column */
}

.column-3 {
  position: relative;
  width: 20%;
  background: linear-gradient(to bottom, rgb(45 2 2), rgb(0, 0, 0));
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* Space out the content within the column */
}

.column-60 {
  display: flex;
  flex-direction: column;

  width: 60%;
  min-height: 100%;
  /* Ensure this column takes at least the full viewport height */
}

.imageStyle {
  max-width: 90%;
  height: auto;
  width: 18%;
  padding: 16px 42px 0px 43px;
  margin: auto;
  text-align: center;
  position: fixed;
}

.imageStyle2 {
  max-width: 100%;
  height: auto;
  width: auto\9;
  max-width: 90%;
  height: auto;
  margin-left: 5%;
  margin-top: 5%;
}

.headerStyle {
  max-width: 100%;
}

.bottom_left_content {
  position: fixed;
  list-style: none;
  left: 3.5%;
  bottom: 20px;
  font-size: 18px;
}

.bottom_left_content img {
  width: 26px;
}

.bottom_left_content span {
  vertical-align: top;

}

.menuStyle {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 21%;
  left: 3.5%;
  padding: 2px;
  list-style: none;
  font-size: 18px;
  vertical-align: middle;
}

.menuStyle span {
  vertical-align: top;
}

.menuStylb img {
  width: 26px;
}

@media screen and (max-width: 767px) {
  .column-3 {
    width: 0%;
    display: none;
  }

  .column-1 {
    width: 30%;
  }
  
  .column-60 {
    width: 70%;
  }
}

@media screen and (max-width: 767px) {
  .column-3 {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .column-1 {
    display: none;
    width: 0%;
  }

  .column-60 {
    width: 100%;
  }

  .column-3 {
    width: 0%;
  }

}