@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}



@media (min-width: 1280px) {
    .container {
        max-width: 1334px;
    }
}


@media (min-width: 1024px) {
    .container {
        max-width: 100%;
    }

    .lg\:w-2\/4 {
        width: 40%;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 100%;
    }

    .md\:p-0 {
        font-size: 19px;
    }
}